replace: system {
    login {
        user lab {
            uid 2001;
            class super-user;
            authentication {
                encrypted-password "$6$ZaP/0VRK$SAD8ukVSx3G//sXzXLrh0m27sUT5qGGFAIIqv2dnBAZfNRZJP/DE8NACyzAnom4svQPXMMxzNVzJ64FHc9V450"; ## SECRET-DATA
            }
        }
    }
    host-name {{ host_name }};
    syslog {
        file cli-commands {
            interactive-commands info;
        }
    }
}
replace: chassis {
    fpc 0 {
        pic 0 {
            interface-type xe;
        }
    }
}
replace: interfaces {
  fxp0 {
      unit 0 {
          family inet {
              address {{ management_ip }}/24;
          }
      }
  }
    {%- for item in unnumbered_links %}
     {{ unnumbered_links[item]['interface'] }} {
      description "{{ unnumbered_links[item]['description'] }}";
      mtu {{ mtu }};
      unit 0 {
        family inet {
          unnumbered-address lo0.0;
        }
        family inet6;
      }
    }
    {%- endfor %}
  {%- for item in fabric_links %}
    {{fabric_links[item]['interface']}} {
      mtu {{ mtu }};
      description "{{fabric_links[item]['description']}}";
      unit 0 {
        family inet {
          address {{ fabric_links[item]['address'] }};
        }
      }
    }
  {%- endfor %}
    lo0 {
        unit 0 {
            family inet {
                address {{ route_distinguisher_id }}/32;
            }
            family inet6 {
              address ::ffff:{{ route_distinguisher_id }}/128;
            }
        }
    }
}
replace: snmp {
    community public;
}
replace: policy-options {
  policy-statement change-nh {
    from protocol bgp;
    then {
      next-hop self;
      accept;
    }
  }
  policy-statement send-direct {
    term 1 {
      from protocol direct;
      then accept;
    }
  }
  policy-statement send-static {
    term 1 {
      from protocol static;
      then accept;
    }
  }
}
replace: routing-options {
    route-distinguisher-id {{ route_distinguisher_id }};
}
replace: protocols {
  bgp {
    family inet {
      unicast {
        local-ipv4-address {{ route_distinguisher_id }};
      }
    }
    family inet6 {
      unicast;
    }
    export [ send-direct send-static change-nh ];
    group fabric {
      type external;
      multihop {
         ttl 1;
      } 
      local-as {{ bgp.local_as }};
      local-address {{ route_distinguisher_id }};
      {%- for item in bgp.neighbors %}
      neighbor {{ bgp.neighbors[item]['ip'] }} {
        peer-as {{ bgp.neighbors[item]['peer_as'] }};
      }
      {%- endfor %}
    }
  }
  ospf {
    area 0.0.0.0 {
      interface all {
        interface-type p2p;
      }
      interface lo0.0 {
        passive;
      }
      interface fxp0.0 {
        passive;
      }
      {%- for item in fabric_links %}
      interface {{ fabric_links[item]['interface'] }} {
        passive;
      }
      {%- endfor %}
    }
  }
  neighbor-discovery {
    onlink-subnet-only;
  }
  lldp {
    interface all;
  }
}
