replace: system {
    login {
        user lab {
            uid 2001;
            class super-user;
            authentication {
                encrypted-password "$6$ZaP/0VRK$SAD8ukVSx3G//sXzXLrh0m27sUT5qGGFAIIqv2dnBAZfNRZJP/DE8NACyzAnom4svQPXMMxzNVzJ64FHc9V450"; ## SECRET-DATA
            }
        }
    }
    host-name {{ host_name }};
}
replace: interfaces {
    em0 {
        unit 0 {
            family inet {
                address {{ management_ip }}/24;
            }
        }
    }
    {%- for item in unnumbered_links %}
    {{ unnumbered_links[item]['interface'] }} {
      description "{{ unnumbered_links[item]['description'] }}";
      mtu {{ mtu }};
      unit 0 {
        family inet {
          unnumbered-address lo0.0;
        }
        family inet6;
      }
    }
    {%- endfor %}
    {%- for item in fabric_links %}
    {{ fabric_links[item]['interface'] }} {
      description "{{ fabric_links[item]['description'] }}";
      mtu {{ mtu }};
      unit 0 {
        family inet {
          address {{ fabric_links[item]['address'] }};
        }
      }
    }
    {%- endfor %}
    {%- for item in bms_links %}
    {{ bms_links[item]['interface'] }} {
      description "{{ bms_links[item]['description'] }}";
      mtu {{ mtu }};
      unit 0;
    }
    {%- endfor %}
    irb {
        unit 11 {
            family inet {
                address 10.6.11.254/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address {{ route_distinguisher_id }}/32;
            }
            family inet6 {
              address ::ffff:{{ route_distinguisher_id }}/128;
            }
        }
    }
}
replace: snmp {
    community public;
}
replace: forwarding-options {
    storm-control-profiles default {
        all;
    }
}
replace: policy-options {
  policy-statement change-nh {
    from protocol bgp;
    then {
      next-hop self;
      accept;
    }
  }
  policy-statement send-direct {
    term 1 {
      from protocol direct;
      then accept;
    }
  }
  policy-statement send-static {
    term 1 {
      from protocol static;
      then accept;
    }
  }
}
replace: routing-options {
    route-distinguisher-id {{ route_distinguisher_id }};
}
replace: protocols {
  bgp {
    family inet {
      unicast {
        local-ipv4-address {{ route_distinguisher_id }};
      }
    }
    family inet6 {
      unicast;
    }
    export [ send-direct send-static change-nh ];
    group fabric {
      type external;
      local-as {{ bgp.local_as }};
      multihop {
         ttl 1;
      } 
      local-address {{ route_distinguisher_id }};
      {%- for item in bgp.neighbors %}
      neighbor {{ bgp.neighbors[item]['ip'] }} {
        peer-as {{ bgp.neighbors[item]['peer_as'] }};
      }
      {%- endfor %}
    }
  }
  ospf {
    area 0.0.0.0 {
      interface all {
        interface-type p2p;
      }
      interface lo0.0 {
        passive;
      }
      interface em0.0 {
        passive;
      }
      {%- for item in fabric_links %}
      interface {{ fabric_links[item]['interface'] }} {
        passive;
      }
      {%- endfor %}
    }
  }
  neighbor-discovery {
    onlink-subnet-only;
  }
  lldp {
    interface all;
  }
  igmp-snooping {
    vlan default;
  }
}
replace: vlans {
    default {
        vlan-id 1;
    }
    vlan-11 {
        vlan-id 11;
        l3-interface irb.11;
    }
}
